*.NDS
*.nds
*.GB
*.gb
*.GBC
*.gbc
*.GBA
*.gba
*.RNDP
*.rndp
tmp_*
*.sgm
*.sav
*.rtc
*.sgb
*.sn*
*.rar
*.zip
config.ini
*.pkm
error_*.txt
src/com/dabomstew/pkrandom/localtests
bin
*.log
*.bin
nbproject
build.xml
manifest.mf
/nicknames.txt
/trainerclasses.txt
/trainernames.txt
/build/
*.dsm
*.dsv
build_eclipse.xml
/customnames.rncn
gen5r_race.rnqs
.classpath
.settings/org.eclipse.jdt.core.prefs
util/files
util/log
out/
.idea/
*.iml